## Deliverable 2. Create a Customer Travel Destinations Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os
import numpy as np

# Import API key
import sys
sys.path.append("..")
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [6]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Nikolskoye,RU,59.7035,30.7861,62.80,96,15,5.66,few clouds
1,1,Bella Vista,US,36.4295,-94.2316,77.61,76,0,4.61,clear sky
2,2,Provideniya,RU,64.3833,-173.3000,50.36,81,0,11.18,clear sky
3,3,Ushuaia,AR,-54.8000,-68.3000,37.06,81,75,8.05,light intensity drizzle
4,4,Goderich,CA,43.7501,-81.7165,63.91,92,50,8.37,scattered clouds

In [7]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 100

In [8]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Bella Vista,US,36.4295,-94.2316,77.61,76,0,4.61,clear sky
7,7,Sapa,PH,5.1544,120.3241,83.28,72,100,4.52,overcast clouds
11,11,Diffa,NE,13.3154,12.6113,85.06,53,66,15.39,broken clouds
16,16,Sinnamary,GF,5.3833,-52.9500,78.08,84,91,5.37,overcast clouds
19,19,Uri,IN,34.0833,74.0333,76.60,74,26,1.97,moderate rain
...,...,...,...,...,...,...,...,...,...,...
662,662,Estelle,US,29.8458,-90.1067,81.00,81,75,0.00,broken clouds
667,667,Kieta,PG,-6.2167,155.6333,83.70,75,58,7.14,light rain
671,671,Saint-Louis,SN,16.3333,-15.0000,77.00,74,100,16.60,overcast clouds
672,672,Wilmington Island,US,32.0036,-80.9737,82.98,61,0,5.75,clear sky
674,674,Dovers,VC,12.8833,-61.1833,80.22,83,100,20.04,overcast clouds

In [9]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Bella Vista,US,36.4295,-94.2316,77.61,76,0,4.61,clear sky
7,7,Sapa,PH,5.1544,120.3241,83.28,72,100,4.52,overcast clouds
11,11,Diffa,NE,13.3154,12.6113,85.06,53,66,15.39,broken clouds
16,16,Sinnamary,GF,5.3833,-52.9500,78.08,84,91,5.37,overcast clouds
19,19,Uri,IN,34.0833,74.0333,76.60,74,26,1.97,moderate rain
...,...,...,...,...,...,...,...,...,...,...
662,662,Estelle,US,29.8458,-90.1067,81.00,81,75,0.00,broken clouds
667,667,Kieta,PG,-6.2167,155.6333,83.70,75,58,7.14,light rain
671,671,Saint-Louis,SN,16.3333,-15.0000,77.00,74,100,16.60,overcast clouds
672,672,Wilmington Island,US,32.0036,-80.9737,82.98,61,0,5.75,clear sky
674,674,Dovers,VC,12.8833,-61.1833,80.22,83,100,20.04,overcast clouds

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Bella Vista,US,77.61,clear sky,36.4295,-94.2316,
7,Sapa,PH,83.28,overcast clouds,5.1544,120.3241,
11,Diffa,NE,85.06,broken clouds,13.3154,12.6113,
16,Sinnamary,GF,78.08,overcast clouds,5.3833,-52.9500,
19,Uri,IN,76.60,moderate rain,34.0833,74.0333,
24,Kapoeta,SS,75.24,broken clouds,4.7717,33.5903,
26,Hithadhoo,MV,83.61,broken clouds,-0.6000,73.0833,
27,Hirara,JP,85.42,overcast clouds,24.8000,125.2833,
28,Sao Felix Do Xingu,BR,78.93,overcast clouds,-6.6447,-51.9950,
31,Nhulunbuy,AU,77.61,clear sky,-12.2333,136.7667,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [13]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Bella Vista,US,77.61,clear sky,36.4295,-94.2316,The Inn at Bella Vista
11,Diffa,NE,85.06,broken clouds,13.3154,12.6113,ProDAF/Diffa
16,Sinnamary,GF,78.08,overcast clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
19,Uri,IN,76.60,moderate rain,34.0833,74.0333,Mashkoor naik home
24,Kapoeta,SS,75.24,broken clouds,4.7717,33.5903,Eastgate Hotel

In [24]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [19]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [20]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))